{% extends 'layout.twig' %}

{% block body %}
    <article class="article">
        <header class="article__header">
            <a class="article__header-title" href="/">Hawk.so</a>
            <div class="article__header-caption">Fast and lightweight errors tracking service</div>
        </header>

        <aside class="article__navigation">
            <div class="article__navigation-content">
                <a href="#platform-documentation">Platform documentation</a>
                <a href="#getting-started">Getting Started</a>
                    <a class="second" href="#create-account">Create account</a>
                    <a class="second" href="#register-domain">Register domain</a>
                <a href="#integration">Integration</a>
                    <a class="second" href="#add-server-handler">Add server handler</a>
                    <a class="second" href="#add-client-catcher">Add client catcher</a>
                <a href="#notifications">Notifications</a>
                <a href="#our-team">Our team</a>
            </div>
        </aside>

        <h1 id="platform-documentation">Platform documentation</h1>
        <p>Hawk.so is a clever and easy-to-use error tracker. It collects all your code exceptions and errors and helps you to improve applications.</p>
        <p>Please, welcome to our simple user guide.</p>

        <h2 id="getting-started">Getting Started</h2>
        <p>Integration scheme contains three steps. Your need to register, add domain and install one of our Catchers.</p>

        <h3 id="create-account">Create an account</h3>
        <p>Follow <a href="/join">/join</a> link to access registration form. Leave working email, and we will send your password. You can change it any time later.</p>
        <p>After this you’ll enter inner section. We call it Garage.</p>

        <h3 id="register-domain">Register domains</h3>
        <p>Now, look at the sidebar. There will appear all your registered domains. Touch «<a href="/websites/create">Add domain</a>» button to create your first.</p>
        <p>Fill domain name and submit form. You are beautiful, that’s it.</p>

        <h2 id="integration">Integration</h2>
        <p>After all registration procedures are passed, next step is installation of some error Catchers. They're simple scripts that collect exceptions and deliver them to the Garage.</p>

        <h3 id="add-server-handler">Add server handler</h3>
        <p>Currently, we provide Catchers for the next languages:</p>
        <ul>
            <li><a href="https://github.com/codex-team/hawk.php">PHP</a></li>
            <li><a href="https://github.com/codex-team/hawk.python">Python</a></li>
            <li>Node.js</li>
        </ul>
        <p>This list will be expanded soon. If you can code, you can implement your own Catcher.</p>

        <h3 id="add-client-catcher">Add client handler</h3>
        <p>To deliver JavaScript errors we provide fast and non-blocking Socket-based Catcher.</p>
        <p><a href="https://github.com/codex-team/hawk.client">Get JavaScript Catcher</a></p>
        <p>How to use. Include <abbr title="HTML script tag">&lt;script&gt;</abbr>tag loaded from CDN or file locally cloned from repository.</p>
        <p>
            <pre>&lt;script src="hawk.js" async&gt;&lt;/script&gt;</pre>
        </p>
        <p>Next, initialize module with your Token.</p>
        <p>
            <pre>&lt;script&gt;
    hawk.init(“Your Token”);
&lt;/script&gt;</pre>
        </p>
    </article>
{% endblock %}
