{% if domains.length != 0 %}

    <div class="garage-sites-added">
        <h1 class="garage-sites-added__title">Select project to view events list</h1>

        {% for domain in domains %}
            {% include 'garage/dashboard/site-item.twig' with { domain: domain } %}
        {% endfor %}

    </div>
{% else %}
    {% include 'garage/dashboard/no-domains.twig' %}
{% endif %}