{% set url = "/garage/" ~ domain.name %}
<a href="{{ url }}">
    <div class="garage-sites-added__item">
        <img class="garage-sites-added__img" src="">
        <span class="garage-sites-added__name">{{ domain.name }}</span>
        <span class="garage-sites-added__new-events">+12 new</span>
        <span class="garage-sites-added__events">{{ events.length }} events</span>
    </div>
</a>