<div class="stack-table">
    {% for item in event.stack %}
        <div class="stack-table__row">
            <div class="stack-table__file">
                <span class="stack-table__file-function">
                    {{ item.func|escape }}
                </span>
                @
                <span class="stack-table__file-location">
                    {{ item.file|escape }}
                </span>
            </div>
            <div class="stack-table__location">line {{ item.line|number_format|escape }}, col {{ item.col|number_format|escape }}</div>
        </div>
    {% endfor %}
</div>