module.exports = (function () {

  var email = (function () {

    var host = 'smtp.yandex.ru',
        port = 465,
        auth = {
          user: '',
          pass: ''
        },
        /* Sender params */
        hawk = {
          name: '',
          email: ''
        };

    return {
        host: host,
        port: port,
        auth: auth,
        hawk: hawk
    }

  })();

  return {
    email: email,
  }

})();
