:root {
    /** Texts */
    --grayText: #555968;
    --lightGrayText: #8a92a5;
    --grayOnDark: #a1a6b3;
    --redText: #df2f2f;
    --greenText: #00b693;
    --pinkColor: #bc1453;
    --errorMessage: #cd4949;

    /** Error types modifiers */
    --fatalColor: #ff5252;
    --warningColor: #ffdd5d;
    --noticeColor: #717171;
    --clientColor: #9786da;

    /** Links */
    --linkColor: #4e37b5;
    --linkOnDark: #31ffac;
    --hoverColor: #7026bd;

    /** Backgrounds */
    --darkGrayBg: #292934;
    --buttonBg: #c5dff5;
    --submitButtonBg: #4592da;
    --lightGrayBg: #f3f3f3;

    /** Borders */
    --lightGrayLine: #edebeb;
    --grayLine: #d4d6d8;

    /** Bounce timing function for transition */
    --bounceTiming: cubic-bezier(0.6, -0.28, 0.735, 0.045);

    /** Left sidebar width */
    --garage-aside-width: 250px;
}

/**
* Custom media queries
*/
@custom-media --desktop all and (min-width: 1050px);
@custom-media --tablet all and (max-width: 1050px);
@custom-media --mobile all and (max-width: 980px);
@custom-media --retina all and (-webkit-min-device-pixel-ratio: 1.5);
