<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/build/bundle.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
    <script type="text/javascript" src="/static/build/bundle.js"></script>
    <script>
      hawk.docReady(function () {
        hawk.init();
      });
    </script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
