<div class="garage-aside">
    <div class="garage-aside__logo">Hawk</div>
    <a class="garage-aside__user" href="">@codex-team</a>

    <h4 class="garage-aside__heading">DOMAINS</h4>

    <section class="garage-aside__section">
        <a class="garage-aside__domain" href="/garage/ifmo.su">
            ifmo.su
        </a>
        <a class="garage-aside__tag" href="/garage/ifmo.su/fatal">
            fatal
            <span class="garage-aside__counter garage-aside__counter--fatal">5</span>
        </a>
        <a class="garage-aside__tag" href="/garage/ifmo.su/warnings">
            warnings
            <span class="garage-aside__counter garage-aside__counter--warning">36</span>
        </a>
        <a class="garage-aside__tag" href="/garage/ifmo.su/notice">
            notice
            <span class="garage-aside__counter garage-aside__counter--notice">1 234</span>
        </a>
        <a class="garage-aside__tag" href="/garage/ifmo.su/javascript">
            javascript
            <span class="garage-aside__counter garage-aside__counter--client">234</span>
        </a>
    </section>

    <section class="garage-aside__section">
        <a class="garage-aside__domain" href="/garage/ifmo.su">
            school332.ru
        </a>
        <a class="garage-aside__tag" href="/garage/ifmo.su/fatal">
            fatal
            <span class="garage-aside__counter garage-aside__counter--fatal">5</span>
        </a>
        <a class="garage-aside__tag" href="/garage/ifmo.su/warnings">
            warnings
            <span class="garage-aside__counter garage-aside__counter--warning">36</span>
        </a>
        <a class="garage-aside__tag" href="/garage/ifmo.su/notice">
            notice
            <span class="garage-aside__counter garage-aside__counter--notice">1 234</span>
        </a>
        <a class="garage-aside__tag" href="/garage/ifmo.su/javascript">
            javascript
            <span class="garage-aside__counter garage-aside__counter--client">234</span>
        </a>
    </section>

    <a class="garage-aside__add" href="/websites/create">+ Add site</a>
</div>