<div class="garage-header">
    <h1 class="garage-header__domain">ifmo.su</h1>
    <a class="garage-header__tab" href="">Fatal | 12</a>
    <a class="garage-header__tab" href="">Warnings | 346</a>
    <a class="garage-header__tab" href="">Notice | 1 223</a>
    <a class="garage-header__tab" href="">JavaScript Errors | 403</a>
</div>