<div class="garage-header">
    <h1 class="garage-header__domain">ifmo.su</h1>
    <a class="garage-header__tab" href="">
        Fatal
        <span class="counter">12</span>
    </a>
    <a class="garage-header__tab" href="">
        Warnings
        <span class="counter">346</span>
    </a>
    <a class="garage-header__tab" href="">
        Notice
        <span class="counter">123</span>
    </a>
    <a class="garage-header__tab" href="">
        JavaScript Errors
        <span class="counter">403</span>
    </a>
</div>