{% extends 'layout.twig' %}

{% block body %}
    <div class="garage">
        <aside class="garage__aside">
            {% include 'garage/aside.twig' with {domains: domains, user: user} %}
        </aside>
        <div class="garage__content">
            {% include 'garage/header.twig' with {domain: currentDomain, tab: currentTag} %}
            {% include 'garage/list.twig' with { events: events } %}
        </div>
    </div>
{% endblock %}