{% extends 'layout.twig' %}

{% block body %}
    <div class="garage">
        <aside class="garage__aside">
            {% include 'garage/aside.twig' with {domains: domains, user: user} %}
        </aside>
        <div class="garage__content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
