<div class="garage-list">

    {% if events.length != 0 %}

        <div class="garage-list__header">
            Total {{ events.length }} events ordered by date
        </div>

        {% for event in events %}
            {% include 'garage/events/list-item.twig' with { domain: domain, event: event } %}
        {% endfor %}

    {% else %}
        <p>You have no errors logged. Looks strange 😑</p>
        <p>if you don't have installed Catcher for this type of event, follow our
        installation guide to set up an integation</p>
        <ul class="garage-list__links">
          <li><a href="/docs#add-server-handler">PHP</a></li>
          <li><a href="/docs#add-server-handler">Python</a></li>
          <li><a href="/docs#add-server-handler">Node.js</a></li>
        </ul>
    {% endif %}
</div>
