<div class="garage-list">

    <div class="garage-list__header">
        Total {{ events.length }} events ordered by date
    </div>

    {% for event in events %}
        {% set tmpl = "garage/events/" ~ event.type ~ ".twig" %}
        {% include tmpl with {event: event} %}
    {% endfor %}
</div>