<div class="no-domains">
    {{ svg('/public/svg/stack-gray.svg') }}
    <div class="no-domains__text">To start improving your projects, <br> add the first one and set up an integration</div>
    <a class="no-domains__add-project" href="/websites/create">+ Add project</a>
</div>