{% extends 'garage/layout.twig' %}

{% block content %}

    {% include 'garage/settings/header.twig' with {user: user} %}

    <div class="garage-settings">
        {% include 'garage/settings/domains-list.twig' with {domains: domains} %}

        {% set formParams = {
          user: user,
          csrfToken: csrfToken,
          success: success,
          message: message,
        } %}
        {% include 'garage/settings/form.twig' with formParams %}
    </div>

    <script>
        var tokenCopied = function (e) {

              hawk.notifier.show({
                message: 'Token was copied',
                style: 'success'
              })

        }

        hawk.docReady(hawk.checkbox.init);
        hawk.docReady(hawk.copyable.init.bind(null, tokenCopied));
    </script>

{% endblock %}
