{% extends 'garage/layout.twig' %}

{% block content %}

    {% include 'garage/settings/header.twig' with {user: user} %}

    <div class="garage-settings">

        {% set formParams = {
          user: user,
          csrfToken: csrfToken,
          success: success,
          message: message,
        } %}
        {% include 'garage/settings/form.twig' with formParams %}

        <h4 class="garage-settings__header" id="projects">Projects</h4>
        <a class="garage-settings__add-project" id="add-project">Add new Project</a>

        <form class="project" action="/garage/project/add" method="post" name="js-toggle" data-button="add-project">

            <fieldset class="form__section">
                <label class="form__label">Project Name</label>
                <input type="text" class="form__width-fixed" placeholder="Google Main Page" name="name" required>
            </fieldset>
            <fieldset class="form__section">
                <label class="form__label">Description</label>
                <input type="text" class="form__width-fixed" placeholder="Product environment" name="description">
            </fieldset>
            <fieldset class="form__section">
                <label class="form__label">Domain</label>
                <input type="text" class="form__width-fixed" type="url" placeholder="https://google.com" name="domain">
            </fieldset>
            <input class="button--submit button--green" type="submit" value="Save">
        </form>

        {% for project in projects %}

            {% if not project.user.is_pending %}
               {% include 'garage/settings/project.twig' with {user: user, project: project} %}
            {% endif %}
        {% endfor %}

    </div>

    <script>
        var tokenCopied = function (e) {

          hawk.notifier.show({
            message: 'Token was copied',
            style: 'success'
          })

        }

        hawk.docReady(hawk.projectSettings.init);
        hawk.docReady(hawk.checkbox.init);
        hawk.docReady(hawk.toggler.init);
        hawk.docReady(hawk.copyable.init.bind(null, tokenCopied));
    </script>

{% endblock %}
