{% extends 'layout.twig' %}

{% block body %}
  <h1>Sign up</h1>
  <form method="POST" action="/join">
    <input type="text" name="username" value="">
    <input type="submit">
  </form>
{% endblock %}
