{% extends 'layout.twig' %}

{% block body %}
  <h1>Log in</h1>
  <form method="POST" action="/signin">
    <input type="text" name="username" value="">
    <input type="password" name="password" value="">
    <input type="submit">
  </form>
{% endblock %}
