{% extends 'garage/layout.twig' %}

{% block content %}
  {% include 'garage/header.twig' with {domain: currentDomain, tab: currentTag} %}
  <div class="event">
    <div class="event__header">
      <span class="event__domain">ifmo.su</span>
      <span class="event__type event__type--javascript">JavaScript Error</span>
    </div>
    <div class="event__content clearfix">
      <div class="event__counter">
        <div class="event__counter-number">
          <div class="event__counter-number--digit">223</div>
          times
        </div>
        <div class="event__counter-date">since<br>12 mar 2017</div>
      </div>
      <div class="event__title">
        Uncaught SecurityError: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "https://spark.ru" from accessing a cross-origin frame.
      </div>
      <div class="event__path">
        https://yastatic.net/pcode/adfox/loader.js -> 1:9535
      </div>
    </div>
    <div class="event__device">
      <div class="event__device-param event__device-param--mobile">
        Mobile
      </div>
      <div class="event__device-param event__device-param--screen-size">
        1280x1024
      </div>
    </div>
  </div>

  <style>

  /*body {
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
  }*/

  /*.clearfix:after {
      content: "";
      display: table;
      clear: both;
  }*/

  .event {
    /*position: fixed;
    top: 0;
    right: 0;
    bottom: 0;*/
    background-color: #2A2836;
    padding: 20px 30px;
  }

  .event__domain {
    color: #A0A6B2;
    margin-right: 20px;
  }

  .event__type {
    margin-right: 20px;
  }

  .event__type--javascript {
    color: #9788D8;
  }

  .event__counter {
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    margin-left: 30px;
  }

  .event__counter-number {
    margin-bottom: 10px;
  }

  .event__counter-number--digit {
    font-size: 30px;
    font-weight: 700;
  }

  .event__counter-date {
    color: #A0A6B2;
    font-size: 12px;
  }



  .event__content {
    margin: 20px 0;
  }

  .event__counter {
    float: right;
  }

  .event__title {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .event__path {
    color: #A0A6B2;
  }

  .event__device {}

  .event__device-param {
    display: inline-block;
    background-color: #EFF0F2;
    padding: 4px 8px;
    border-radius: 2px;
    color: #717171;
    margin-right: 15px;
  }

  .event__device-param--mobile:before {
    /* insert mobile phone symbol */
  }

  .event__device-param--screen-size:before {
    /* insert screen symbol */
  }

  </style>
{% endblock %}
