{% extends 'garage/layout.twig' %}

{% block content %}
  <div class="event">
    <div class="event__header">
      <span class="event__domain">{{ currentDomain.name }}</span>
      <span class="event__type event__type--{{ event.tag }}">
        {{ event.tag == 'javascript' ? 'JavaScript Error' : event.tag|capitalize }}
      </span>
    </div>
    {% block eventContent %}{% endblock %}
  </div>
  <div class="garage_page">
    {% block eventInfo %}{%  endblock %}
    {% block repeations %}{% endblock %}
  </div>
{% endblock %}
