.landing-page {
    padding: 60px;
    padding-bottom: 20px;
    font-size: 20px;

    @media (--mobile) {
        padding: 15px;
    }

    &__title {
        font-size: 2.6em;
        color: #fff;
    }

    &__caption {
        color: var(--yardGrayText);
        line-height: 1.4em;
    }

    &__links {
        margin-top: 1em;
        font-weight: bold;

        li {
            display: inline-block;
            margin-right: 1em;
            margin-bottom: 0.6em;
        }

        a {
            color: #fff;

            &.primary {
                color: var(--linkOnDark);
            }

            svg {
              margin-left: 0.6em;
            }
        }
    }

    &__figure {
        margin: 0 0 30px;
        color: var(--yardGrayText);

        img {
            margin-top: 1em;
            max-width: 100%;
        }
    }

    &__footer {
        border-top: 1px solid color(var(--yardBg) lightness(+5%));
        font-size: 15px;
        padding: 20px 0 0;
        letter-spacing: 0.18px;

        a {
            color: var(--greenText);
            border-bottom: 1px solid color(var(--greenText) alpha(60%));

            &:hover{
                color: #fff;
                border-bottom-color:color(#fff alpha(60%));
            }
        }

        .fl_r {
            @media (--mobile) {
                float: none;
                margin-top: 8px;
            }
        }
    }
}
