.landing-page {
    padding: 60px;
    font-size: 20px;

    @media (--mobile) {
        padding: 15px;
    }

    &__title {
        font-size: 2.6em;
        color: #fff;
    }

    &__caption {
        color: color(#fff alpha(50%));
        line-height: 1.4em;
    }

    &__links {
        margin-top: 1em;
        font-weight: bold;

        li {
            display: inline-block;
            margin-right: 1em;
            margin-bottom: 0.6em;
        }

        a {
            color: #fff;

            &.primary {
                color: var(--linkOnDark);
            }

            svg {
              margin-left: 0.6em;
            }
        }
    }

    &__figure {
        margin: 30px 0 0;
        color: color(#fff alpha(50%));

        img {
            margin-top: 1em;
            max-width: 100%;
        }
    }
}
