{% extends 'layout.twig' %}

{% block body %}
  <div class="yard">
    {% include 'yard/form.twig' with {
      action: '/login',
      title: 'Login',
      fields: [
        {
          label: 'Your email',
          name: 'email',
          value: email,
          placeholder: 'user@mydomain.com',
          type: 'email'
        },
        {
          label: 'Password',
          name: 'password',
          value: '',
          placeholder: '********',
          type: 'password'
        }
      ],
      submitText: 'Login',
      disclaimer: 'Dont have an account? Please, <a href="/join">sign up</a> one.'
    } %}
  </div>
{% endblock %}
