{% extends 'layout.twig' %}

{% block body %}
  <div class="yard">
    {% include 'yard/form.twig' with {
      action: '/websites/create',
      title: 'Register new website',
      fields: [
        {
          label: 'Enter your site\'s domain name',
          name: 'domain',
          value: '',
          placeholder: 'apple.com',
          type: 'text'
        }
      ],
      submitText: 'Register website',
      disclaimer: ''
    } %}
  </div>
{% endblock %}
