.eventAppender__loadMoreButton {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid var(--grayLine);
    border-radius: 3px;
    color: var(--grayText);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: color(var(--grayText) lightness(-20%))
    }
}
