.event {
    background-color: var(--darkGrayBg);
    padding: 20px 30px;
    color: var(--grayOnDark);

    &__domain {
        margin-right: 20px;

        &:hover {
            color: #fff;
        }
    }

    &__type {
        margin-right: 20px;

        &--fatal {
            color: var(--fatalColor);
        }

        &--warnings {
            color: var(--warningColor);
        }

        &--notice {
            color: var(--noticeColor);
        }

        &--javascript {
            color: var(--clientColor);
        }

        &:hover {
            color: #fff;
        }
    }

    &__counter {
        color: #fff;
        text-align: center;
        vertical-align: middle;
        margin-left: 30px;

        &-number {
            margin-bottom: 10px;

            &--digit {
                font-size: 30px;
                font-weight: 700;
            }
        }

        &-date {
            min-width: 75px;
            min-height: 30px;
            font-size: 13px;
            color: var(--grayOnDark);
            line-height: 1.5em;
        }
    }

    &__content {
        margin-top: 20px;
    }

    &__counter {
        margin-top: -30px;
        float: right;
        min-width: 60px;
    }

    &__title {
        color: #fff;
        font-size: 20px;
        overflow: hidden;
    }

    &__placeholder {
        height: 0.6em;
        background-color: #3b394c;
        border-radius: 30px;
    }

    &__counter &__placeholder {
        margin: 0 auto;

        &:first-of-type {
            margin-top: 1.4em;
            margin-bottom: 8px;
            width: 50%;
        }
    }

    &__path {
        margin: 20px 0;
    }

    &-badge {
        &:not(:first-of-type) {
            margin-left: 20px;
        }
    }
}

/**
 * Stack table
 */
.stack-table {
    border: 1px solid var(--lightGrayLine);
    border-radius: 3px;
    padding: 20px 25px;


    &__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid var(--lightGrayLine);

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }

        &:first-child {
            padding-top: 0;
        }
    }

    &__file {
        flex-grow: 1;
    }

    &__location {
        margin-left: auto;
        white-space: nowrap;
        color: var(--lightGrayText);
    }

}

/**
 * Repeations list
 */
.repeations {

    width: 100%;

    &__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 0;
    }

    &__date {
        color: var(--grayText);
    }

    &__user-agent {
        margin: 0 15px;
        width: 100px;
        flex-grow: 1;
    }

    .event-badge {
        margin: 0 10px;
    }

    &__path {
        color: var(--linkColor);
        margin: 0 15px;
        flex-grow: 1;

        &:hover {
            color: var(--hoverColor);
        }

    }

    &__stack {
        margin-left: auto;
        color: var(--lightGrayText);
        cursor: pointer;

        svg {
            margin-right: 7px;
            vertical-align: top;
        }

        &:hover {
            color: var(--grayText)
        }

    }

}

/**
 * Event badge: mobile.svg, desktop
 */
.event-badge {
    display: inline-block;
    position: relative;
    border-radius: 3px;
    padding: 5px;
    background: var(--lightGrayBg);
    color: var(--noticeColor);
    font-size: 0.9em;

    &--mobile {

        padding-left: 22px;

        &::before {
            content: '';
            background: url('/static/svg/mobile.svg') center no-repeat;
            position: absolute;
            left: 0;
            top: 0;
            margin: 6px 8px;
            display: block;
            width: 8px;
            height: 12px;
        }

    }

    &--desktop {

        padding-left: 25px !important;

        &::before {
            content: '';
            background: url('/static/svg/desktop.svg') center no-repeat;
            position: absolute;
            left: 0;
            top: 0;
            margin: 7px;
            display: block;
            width: 12px;
            height: 11px;
        }

    }

    &--tablet {

        padding-left: 22px !important;

        &::before {
            content: '';
            background: url('/static/svg/tablet.svg') center no-repeat;
            background-size: auto 14px;
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px 6px;
            display: block;
            width: 11px;
            height: 15px;
        }

    }

    &--device-size {

        svg {
            margin: -3px 3px 0;
        }

    }

}

.request {

    a {
        color: var(--linkColor);

        &:hover {
            color: var(--hoverColor);
        }

    }

    &-params {

         border: 1px solid var(--lightGrayLine);
         border-radius: 3px;
         margin: 20px 0;
         padding: 15px 25px;


        &__header {
            padding-bottom: 10px;
            border-bottom: 1px solid var(--lightGrayLine);
            font-size: 16px;
        }

        &__item {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid var(--lightGrayLine);

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }

        }

        &__field {
            width: 150px;
            min-width: 150px;
            color: #8a92a5;
        }

        &__value {
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

}

.event-info {

     &--opened {
         color: var(--grayText)
     }
}