.eventAppender__loadMoreButton {
    display: block;
    text-align: center;
    margin: 25px 0;
    padding: 15px;
    background: #f6f6f7;
    border-radius: 3px;
    color: var(--grayText);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.2px;

    &:hover {
      color: color(var(--grayText) lightness(-20%))
    }
}
