.garage-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 1px solid var(--lightGrayLine);

    &__page-title {
        font-weight: bold;
        font-size: 1.3em;
        margin: 0 25px 0 0;
    }

    &__tab {
        margin-right: 10px;
        color: var(--grayText);

        &:not(:last-of-type)::after {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            background: color(var(--grayText) alpha(60%));
            margin-left: 10px;
            vertical-align: middle;
            border-radius: 50%;
        }

        .counter {
            display: inline-block;
            border-radius: 3px;
            padding: 3px 5px;
            font-size: 0.9em;
            background: color(var(--grayText) alpha(10%));
            line-height: 1em;
            margin-left: 0.3em;
        }

        &:hover {
            color: var(--hoverColor);

            .counter {
                background: color(var(--hoverColor) alpha(10%));
            }
        }
    }


    &__logout {
        margin-left: auto;
        color: var(--redText);
    }

}