.garage {
    display: flex;
    align-items: stretch;
    min-height: 100%;
    width: 100%;

    &__aside {
        min-width: var(--garage-aside-width);
        position: relative;
    }

    &__content {
        width: calc(100% - var(--garage-aside-width));
        height: 100%;
        box-sizing: border-box;
        background: #fff;
        color: #000;
        word-wrap: break-word;
    }
}

.garage_page {
    padding: 25px;

    h3:first-of-type {
        margin-top: 0;
    }
}
