.garage-list {
    padding: 0 25px;

    &__header {
        padding: 25px 0;
        font-size: 14.5px;

        &-right {
            float: right;
            color: var(--grayText);

            a {
                border-bottom: 1px solid color(var(--grayText) alpha(50%));
            }
        }
    }

    &__installation-guide-text {
        max-width: 500px;
        line-height: 1.5em;
        margin: 30px 0 20px;
    }

    &__links {
        li {
            margin-top: 0.7em;
        }

        a {
            color: #7026bd;
        }
    }

    &__empty {
        padding: 10px 0;
        font-size: 15px;
    }
}

/**
 * Errors table
 */
.garage-list-item {
    display: flex;
    margin-left: -25px;
    margin-right: -25px;
    padding: 0 25px;
    box-sizing: border-box;
    position: relative;

    &:hover {
        background: color(var(--lightGrayBg) alpha(50%));
    }

    &--unread {
        background: var(--unreadBg);
        margin-top: -1px;

        &::after {
            display: none;
        }

        &:hover {
            background: color(var(--unreadBg) lightness(+1%) );
        }
    }

    &__left {
        font-size: 13px;
        padding-right: 25px;
        margin: auto 0;
        width: 100px;
    }

    &__right {
        font-weight: bold;
        font-size: 12px;
        padding-left: 25px;
        margin: auto 0;
        min-width: 150px;
    }

    &__content {
        width: 100%;
        padding: 15px 0;
        cursor: pointer;
    }

    &__title {
        margin: 0;
        font-size: 14.5px;
        line-height: 1.5em;
        word-break: break-all;
        font-weight: 700;
    }

    &__caption {
        margin: 4px 0;
        font-size: 13.4px;
        letter-spacing: 0.2px;
        color: var(--grayText);
    }

    &__tag {
        font-weight: bold;
        margin-bottom: 3px;

        &--javascript {
            color: var(--javascriptColorOnWhite);
        }

        &--fatal {
            color: var(--fatalColor);
        }

        &--warnings {
            color: var(--warningsColor);
        }

        &--notice {
            color: var(--noticeColor);
        }
    }

    &__time {
        display: block;
        margin-top: 0.5em;
        line-height: 1.4em;
        font-size: 0.9em;
        color: var(--grayText);
    }

    &__counter {
        font-size: 19px;
        text-align: center;
        font-weight: 800;
    }

    &__counter-text {
        margin-top: 0.2em;
        text-align: center;
        font-size: 13px;
    }
}
