.garage-settings {
    padding: 25px;

    &__header {
        margin: 20px 0;
        font-size: 27px;
        font-weight: 800;
    }

    &__add-project {
        @apply --beautiful-green-button;
        padding-left: 14px;

        &::before {
            content: '';
            background: url(/static/svg/plus-white.svg) center no-repeat;
            display: inline-block;
            vertical-align: bottom;
            width: 18px;
            height: 18px;
            margin-right: 8px;
        }
    }

    &__account-form {
        margin-top: 50px;
    }
}
