.garage-settings {
    padding: 25px;

    &__header {
        margin: 20px 0;
        font-size: 27px;
        font-weight: 800;
    }

    &__add-project {
        display: inline-block;
        position: relative;
        padding: 12px 12px 12px 40px;
        color: var(--greenText);
        font-size: 20px;
        border: 1px solid #cde6e0;
        border-radius: 3px;
        cursor: pointer;

        &::before {
            content: '';
            background: url(/static/svg/plus.svg) center no-repeat;
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
        }


    }

}