.garage-projects-added {
    padding: 25px;

    &__title {
        font-size: 15px;
        line-height: 28px;
    }

    &__item {
        margin: 8px 0;
        padding: 10px;
        border: 1px solid #edeaea;
        border-radius: 3px;
    }

    &__img {
        display: inline-block;
        margin-right: 7px;
        height: 26px;
        width: 26px;
        vertical-align: middle;
        border-radius: 3px;
        border: 0;
    }

    &__name {
        line-height: 30px;
        vertical-align: middle;
        font-size: 17px;
        font-weight: bold;
    }

    &__events {
        float: right;
        margin-right: 10px;
        color: #717171;
        font-size: 13px;
        line-height: 30px;
        vertical-align: middle;
    }

    &__new-events {
        float: right;
        margin-top: 1px;
        padding: 6px 8px;
        color: #de2f2f;
        font-size: 13px;
        font-weight: bold;
        border: 1px solid #f6c6c6;
        border-radius: 3px;
    }

    &__add-project {
        padding: 11px 18px 10px;
        display: inline-block;
        color: #00b693;
        font-size: 14px;
        font-weight: 700;
        border: 1px solid #cde6e0;
        border-radius: 3px;
        letter-spacing: 0.25px;

        &::before {
            content: '';
            background: url(/static/svg/plus.svg) center no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 14px;
            height: 14px;
            background-size: 14px 14px;
            margin: -2px 7px 0 -5px;
        }
    }
}

.no-projects {
    margin: 150px auto;
    text-align: center;

    &__text {
        margin: 20px 0;
        font-size: 16.4px;
        color: #666c7b;
        line-height: 1.45em;
        letter-spacing: 0.2px;
    }

    &__add-project {
        margin: 20px 0;

        @apply --beautiful-green-button;
    }
}
