.traceback-popup {
  position: fixed;
  transition: left .5s linear;
  left: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background: color(var(--darkGrayBg) alpha(80%));
  overflow: auto;
  z-index: 9999;
  transition: left .2s ease-out;

  & .garage_page {
    background: #fff;
  }

  &--show {
    left: var(--garage-aside-width) !important;
  }

  &--hovered {
    background: color(var(--darkGrayBg) alpha(95%)) !important;
  }

  &__closing-button {
    position: absolute;
    margin: 15px;
  }

  &__closing-button:hover {
    cursor: pointer;
  }

  &__content {
    margin-left: 50px;
  }
}
