{% extends '../layout.twig' %}

{% set title = "Your password" %}

{% block content %}
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
        <font color="#000" style="font-size:15px;">
          Hey! Welcome to the Hawk, your account has been created. Use this password for authorization:
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 15px;">
        <font color="#000" style="display: inline-block; background: rgba(188, 20, 83, .07); padding: 0 7px; margin-right: .2em; border-radius: 2px; color: #bc1453; text-decoration: none; font-size:16px; line-height: 1.5em;">
            <code>{{ password }}</code>
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 15px;">
        <font color="#000000" style="font-size:15px;">
          You can change it on the <a href="{{ settingsLink }}">Profile Settings</a> page.
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 30px;">
        <font color="#000000" style="font-size:13px;">
          <h2>How to add new Integration</h2>
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 15px;">
        <font color="#000000" style="font-size:15px;">
          Create Project on the <a href="{{ settingsLink }}">Settings</a> page to get an Integration Token. Next, <a>set up Catcher</a> for your application.
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 30px;">
        <font color="#000000" style="font-size:15px;">
          <h2>How to join registered project</h2>
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 15px;">
        <font color="#000000" style="font-size:15px;">
          Project admin should add you to the team. After that you will received invitation link on the email.
        </font>
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}{% endblock %}
