{% extends '../layout.twig' %}

{% set title = name ~ " token" %}

{% block content %}
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
        <font color="#000" style="font-size:15px;">
          <span style="line-height: 0.9em; margin-right: 5px;">😼</span> Here is your token for {{ name }}.
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 25px;">
        <font color="#000" style="display: inline-block; background: rgba(188, 20, 83, .07); padding: 0 7px; margin-right: .2em; border-radius: 2px; color: #bc1453; text-decoration: none; font-size:16px; line-height: 1.5em;">
            <code>{{ token }}</code>
        </font>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 25px;">
        <font color="#000000" style="font-size:15px;">
          Use it to <a href="{{ serverUrl }}/docs#integration">set up integration</a> with your app. Have a good day.
        </font>
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}{% endblock %}
