{% extends 'layout.twig' %}

{% block body %}

  <div class="landing-page yard">
    <h1 class="landing-page__title">Hawk.so</h1>
    <p class="landing-page__caption">Fast and lightweight errors tracking service. Backend and Frontend events monitoring.</p>
    <ul class="landing-page__links">
      {% if user is defined and not empty %}
        <li>
          <a class="primary" href="/garage">
            {{ user.email|escape }}
            {{ svg('/public/svg/arrow-right.svg') }}
          </a>
        </li>
      {% else %}
        <li><a class="primary" href="/garage">Try for free</a></li>
        <li><a href="/join">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      {% endif %}
      <li><a href="/docs">Documentation</a></li>
    </ul>
    <figure class="landing-page__figure">
      {# <figcaption></figcaption> #}
      <img src="/static/images/index_page/list.png" alt="Backend and Frontend errors monitoring">
    </figure>

    <div class="landing-page__footer">
      Made with inspiration by <a href="//ifmo.su">CodeX</a>.
      <div class="fl_r">
        Feel free to leave a Feedback to the <a href="mailto:team@ifmo.su?subject=Hawk">team@ifmo.su</a>.
      </div>
    </div>
  </div>

{% endblock %}
