<div class="domains-list-item">
    <img class="domains-list-item__favicon">
    <span class="domains-list-item__name">{{ domain.name }}</span>
    <span class="domains-list-item__token-label">Domain token</span>
    <span name="js-copyable" title="Copy" class="domains-list-item__token">{{ domain.token }}</span>
    <a class="domains-list-item__unlink">Unlink</a>
</div>