<div class="stack-table">
    {% for item in event.stack %}
        <div class="stack-table__row">
            <div class="stack-table__file">
                {{ item.text|escape }}{{ item.func ? (' in ' ~ item.func)|escape : '' }} at {{ item.file|escape }}
            </div>
            <div class="stack-table__location">line {{ item.line|number_format|escape }}</div>
        </div>
    {% endfor %}
</div>