<div class="stack-table">
    {% for item in event.stack %}
        <div class="stack-table__row">
            <div class="stack-table__file">{{ item.error|escape }}</div>
            <div class="stack-table__location">{{ item.location|escape }}</div>
        </div>
    {% endfor %}
</div>